*{
    margin :0;
    padding :0;
}
body {font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
header{background-color: rgb(255, 0, 0);
color: rgb(0, 0, 0);
display: flex;
justify-content: space-around;
padding: -30px 0; }
.imagem-cabecalho{
    width: 10%;}
li{
    display: block;}
h1 {
    margin: 0 100px;
    padding: 50px;
}
.escola-imagem{width: 180%;}
.escola {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: -100px 0;
    background-image: -moz-linear-gradient(red , rgb(0, 0, 0));
}
.aluno-um{
    width:45%;
  height: 150px;
}


.estudante-titulo{
    text-align:center;
    padding: 80px 0;
    font-size: 40px;
}



.estudante-icone 
{width: 40px;}


.estudante-div {
    text-align: center;
}
.estudante-todos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.estudante{
    background-color: rgb(0, 0, 0); 
    color: aliceblue;
}