header{background-color: rgb(25, 0, 255);
color: greenyellow;
display: flex;
justify-content: space-around; }
.cabecalho-imagem{whidth:25%;}
li{
    display: block;
}
h1 {
    margin: 0 120px;
    padding: 110px;
}
